<section class="faq">
	<div class="container-fluid">
		<div class="container why-better">
			<div class="row about-lthr">
				<div class="col-lg-12">
					<h2 class="accordion">FAQ</h2>
					<div class="panel principal">
						<button class="accordion">Why is hot lather better?</button>
						<div class="panel">
						  <p>Imagine if you showered your whole life with cold water. Woof. Then one day, you were able to shower with hot water. Sweet! That’s how we think you’ll feel about shaving with hot lather if you’ve never felt it before. In addition to that, heat is a crucial element in achieving a close, comfortable shave. Ask your barber or any barber for a shave and they will utilize heat in some way. Either with hot lather, hot towels, a facial steamer or more often than not, a combination of the three. Heat softens your whiskers, making them easier to cut with your razor. This means less tug and pull between each hair follicle and your razor resulting in reduced irritation and an overall more enjoyable shaving experience.</p>
						</div>

						<button class="accordion">What is the return policy?</button>
						<div class="panel">
						  <p>If for any reason you’re unsatisfied with LTHR we’ll happily take it back. Just <%= link_to "contact us", "mailto:?to=email@lthrshaving.com" %> within 30 days of receipt for a return shipping label. Send it back in the condition it was received and we'll refund your purchase.</p>
						</div>

						<button class="accordion">What do the lights mean? How does it work?</button>
						<div class="panel">
						  <p>Remove the seal from a pod, insert it into the bottom of the device and push and hold the power button. Blue lights will illuminate clockwise and once fully illuminated the device is ready! To power down, push and hold the power button and orange lights will illuminate counter clockwise and the device will be turned off. To check the battery life, simply double tap the power button and the green lights will display the level of charge remaining.</p>
						</div>

						<button class="accordion">How many shaves can I expect to get out of a pod?</button>
						<div class="panel">
						  <p>If you are a full face shaver making one pass, you can expect to get 10-15 shaves per pod.</p>
						</div>

						<button class="accordion">How long does the battery last? How long does it take to charge?</button>
						<div class="panel">
						  <p>You can expect the battery to last about the same as each pod, 10-15 shaves. If you make multiple passes and keep the device on for more than 5 minutes at a time, expect to need to recharge a bit more frequently.</p>
						</div>

						<button class="accordion">How big is the device?</button>
						<div class="panel">
						  <p>3.25” in diameter and 7” tall.</p>
						</div>

						<button class="accordion">How long does it take to heat up?</button>
						<div class="panel">
						  <p>Less than three minutes.</p>
						</div>

						<button class="accordion">110 for over 90 seconds seems really hot! Will that burn me?</button>
						<div class="panel">
						  <p>No! In fact, we think you’ll find the temperature setting like falling into a giant warm cloud of shave lather.</p>
						</div>

						<button class="accordion">Can this product be used by women too?</button>
						<div class="panel">
						  <p>Most certainly! We’ve received rave reviews from women who’ve tested our prototypes.</p>
						</div>

						<button class="accordion">Auto-shutoff?</button>
						<div class="panel">
						  <p>Indeed! The idea behind this is two fold; never worry about having forgot to shut off the device as well as conserving battery life.</p>
						</div>

						<button class="accordion">What exactly do you mean by water resistant/shower proof?</button>
						<div class="panel">
						  <p>Bring it in the shower if you’re a shower shaver, it will work just fine. Even if you drop it in the bathtub you can pull it out quickly and it will be fine. The only thing you can’t do is take it on the boat and drop it to the bottom of the lake and expect when you pull it up, it will work.</p>
						</div>

						<button class="accordion">Is it TSA friendly?</button>
						<div class="panel">
						  <p>You better believe it! Our pod volume is just shy of the max allowable carry on size for liquids.</p>
						</div>
					</div>
				</div>
			  </div>
		</div>
	</div>
</section>