@import "bootstrap-sprockets";
@import "bootstrap";
@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";
@import "styles";
@import "less";
@import "toastr";

input.form--f--input {
	border-radius: 6px !important;
  margin-bottom: 14px !important;
  max-width: none !important;
}