/* CSS Document */


body{
	min-width:100%; 
	margin:0px; 
	padding:0px; 
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
.background-dark{
	background: rgba(14,14,15,1);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(14,14,15,1)), color-stop(50%, rgba(33,33,33,0.99)), color-stop(100%, rgba(0,0,0,0.99)));
	background: -o-linear-gradient(top, rgba(14,14,15,1) 0%, rgba(33,33,33,0.99) 50%, rgba(0,0,0,0.99) 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(14,14,15,1)), color-stop(50%, rgba(33,33,33,0.99)), to(rgba(0,0,0,0.99)));
	background: linear-gradient(to bottom, rgba(14,14,15,1) 0%, rgba(33,33,33,0.99) 50%, rgba(0,0,0,0.99) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0f', endColorstr='#000000', GradientType=0 );
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
    padding: 50px 0px;
}
.background-grey{
	background: rgba(165,165,165,1);
	background: -moz-linear-gradient(top, rgba(165,165,165,1) 0%, rgba(164,164,164,1) 26%, rgba(160,160,160,1) 55%, rgba(157,157,157,1) 80%, rgba(157,157,157,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(165,165,165,1)), color-stop(26%, rgba(164,164,164,1)), color-stop(55%, rgba(160,160,160,1)), color-stop(80%, rgba(157,157,157,1)), color-stop(100%, rgba(157,157,157,1)));
	background: -webkit-linear-gradient(top, rgba(165,165,165,1) 0%, rgba(164,164,164,1) 26%, rgba(160,160,160,1) 55%, rgba(157,157,157,1) 80%, rgba(157,157,157,1) 100%);
	background: -o-linear-gradient(top, rgba(165,165,165,1) 0%, rgba(164,164,164,1) 26%, rgba(160,160,160,1) 55%, rgba(157,157,157,1) 80%, rgba(157,157,157,1) 100%);
	background: -ms-linear-gradient(top, rgba(165,165,165,1) 0%, rgba(164,164,164,1) 26%, rgba(160,160,160,1) 55%, rgba(157,157,157,1) 80%, rgba(157,157,157,1) 100%);
	background: linear-gradient(to bottom, rgba(165,165,165,1) 0%, rgba(164,164,164,1) 26%, rgba(160,160,160,1) 55%, rgba(157,157,157,1) 80%, rgba(157,157,157,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5a5a5', endColorstr='#9d9d9d', GradientType=0 );
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
    
}
.container-principal{
	max-width:1110px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	-ms-flex-wrap:wrap;
	    flex-wrap:wrap;
	padding:0px 40px;
}
header{
	text-align: left;
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    padding: 40px 0px;
}
.container-body{
	width:100%;
	text-align:center;
}
.logo{
	width:100%;
	max-width: 106px;
}
.play-action{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-transform: uppercase;
	color: #ffffff;
}
.play-action a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #ffffff;
	text-decoration: none;
}
.play-action p{
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  padding-left:13px;
  margin-bottom: 0px;
}
.background-grey .play-action p{
	color: #3d3d3d;
}
.play-action img{
	max-width: 50px;
	padding: 5px;
	padding-left: 0px;
}
.container-body{ 
	display:-webkit-box; 
	display:-ms-flexbox; 
	display:flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.container-body .content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap:wrap;
	    flex-wrap:wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
			align-items: center;
	width: 100%;
}
.content-left{
	width:50%;
}
.content-right{
	width:50%;
}
.background-grey .content-left{
	width:50%;
}
.background-grey .content-right{
	width:50%;
}
.background-grey .content-right img{
	height: 100%;
	width: auto;
	padding-top: 5px;
}
img{
	width:100%;
}
.content-left .formbox{
	width:100%;
	max-width:360px;
}
.formbox{
	width: 100%;
    max-width: 458px;
    margin: 0 auto;
}
.background-grey .formbox{
	margin-left:0px;
}
.form-inline{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 40px 0px;
}
.formbox .form-title{
	text-align: left;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.86px;
    color: #dcdcdc;
    text-transform: uppercase;
}
.background-grey .formbox .form-title{
	font-size: 30px;
	letter-spacing: 4px;
	color: #3d3d3d;
	margin-bottom: 20px;
}
.background-grey .formbox .form-subtitle{
	font-size: 19px;
	letter-spacing: 1px;
	color: #ffffff;
	text-align: left; 
	text-transform: uppercase;
	margin-bottom: 30px;
}
.formbox form input{
	border-radius: 6px 0px 0px 6px;
    border: solid 1px #dcdcdc;
    border-right: none;
    background-color: #ffffff;
    padding: 15px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #818181;
	outline: none;
	width: 100%;
}
.background-grey .formbox form input{
	border-radius: 6px;
	width: 100%;
	display: block;
	max-width: none;
	margin-bottom: 14px;
}
.invite{
	padding-top:40px;
	background: rgba(248,248,248,1);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,248,248,1)), color-stop(100%, rgba(201,201,201,1)));
background: -o-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(201,201,201,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, from(rgba(248,248,248,1)), to(rgba(201,201,201,1)));
background: linear-gradient(to bottom, rgba(248,248,248,1) 0%, rgba(201,201,201,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#c9c9c9', GradientType=0 );
}
.invite .formbox .form-title, .footer .formbox .form-title{
	font-size: 24px;
    width: 100%;
    max-width: 283px;
    margin: 0 auto;
    color: #3d3d3d;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    text-align: center;
}
.social-share, .formbox p{ text-align: center; }
.invite .formbox p, .footer .formbox p{
	font-weight: 600;
    font-size: 16px;
	text-transform: uppercase;
	margin: 0 auto 17px;
}

.social-share a{ text-align: center; width:40px; display: inline-block; margin:0px 17px; }


.formbox .lima { 
	text-transform: uppercase;
    font-size: 14px;
    width: auto;
    background-color: #4fd1a8;
    color: #fff;
    font-weight: bold;
    padding: 16px;
    border-radius: 0px 6px 6px 0px;
    letter-spacing: 2px;
    outline: none;
    width: 100%;
	max-width: 99px;
	border-color: transparent;
}
.formbox .lima:hover{ color:#fff; }

 .invite .content-left img{
	max-width: 428px;
    margin: 0 auto;
    display: block;
 }

 .steps{ margin: 50px auto; }

.steps-header{ letter-spacing: 4px; color: #3d3d3d; font-size: 25px; font-family: "Roboto", Helvetica, Arial, sans-serif; margin-bottom: 40px; }

.step-title{ font-family: "Roboto", Helvetica, Arial, sans-serif; letter-spacing: 3px; text-align: center; color: #33856b; font-size: 19px; }


.step-content, .step-extra-content{ font-family: "Roboto", Helvetica, Arial, sans-serif; margin: 40px auto; letter-spacing: 1px; line-height: 1.71; }
.topbg{ background:#B28A35; height:40px;color:#fff; text-align:center; padding-top:8px;}                          
.step-content{ margin-top: 20px; }               




img{ border:0px;}
       

.step-img{
    height: auto;
    width: 100%;
    max-width: 53px;
    max-height: 56px;
}
.steps-body .step:not(:last-child):after {
    content: "";
    height: 14px;
    width: 80%;
    margin: 0 auto;
    background-image: url(/assets/arrow-right.svg);
    position: absolute;
    right: -40%;
    top: 25px;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}	   
@media (max-width:991px){
    .thankyouheaderbg{
        background-image: none;
        background-color: rgba(129, 129, 129, 0.1);  
    }
    .steps-body .step:not(:last-child):after{
        display: none;
    }
    .step {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
                align-items: center;
    } 
    .step-body{
        padding-left: 30px;
    }
    .step-title, .step-content{
        text-align: left;
    }
    .step:not(:last-child):before{
        content: "";
        height: 14px;
        width: 70px;
        margin: 0 auto;
        background-image: url(/assets/arrow-right.svg);
        position: absolute;
        left: 7px;
        top: 90%;
        z-index: -1;
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg);
    }
}
.come-inside{
    background-color: rgba(129, 129, 129, 0.1);
    padding: 50px 15px;
    color: #3d3d3d;
}
@media (max-width:1240px){
	header{ padding:40px; }
}
@media (max-width:768px){
	.background-dark .container-body .content{
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
	}
	.background-grey .container-body .content{
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
			-ms-flex-direction:column;
				flex-direction:column;
	}
	.content-left, .content-right{
		width:100%;
		padding: 20px 0px;
	}
	.background-grey .content-left, .background-grey .content-right{
		width: 100%;
	}
	.background-grey .content-left{
		padding: 40px 0px;
	}
	.background-grey .content-right{
		padding-bottom: 0px;
	}
	.background-grey .content-right img{
		height: auto;
		width: 100%;
	}
}

.why-better{
	padding: 60px 0px 120px;
}
.why-better-header{
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: bold;
}
.why-better-body{
	margin-top: 40px;
}
.better .better-img{
	max-width: none;
    width: auto;
    height: 100%;
    max-height: 60px;
    margin-bottom: 30px;
}
.better-title {
    font-size: 19px;
    letter-spacing: 3px;
    color: #4fd1a8;
    text-transform: uppercase;
    margin-bottom: 19px;
    margin-top: 0px;
}
.better-content {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1.14px;
    text-align: center;
    color: #272727;
}
.reviews{
	background: #f2f2f2;
}
.review-img{
	width: 100%;
	max-width: 136px;
	margin: 0px auto 28px;
}
.review-content{
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 1.14px;
	text-align: center;
	color: #3d3d3d;
	width: 100%;
	max-width: 360px;
	margin: 0px auto 30px; 
}
.review-name{
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2px;
	color: #33856b;
	text-align: center;
	text-transform: uppercase;
}
.owl-carousel{
	position: inherit;
}
.owl-stage-outer{
	padding-bottom: 20px;
}
.owl-dots{
	padding: 25px 0px 40px;
    background-color: #ffffff;
    width: 100%;
    position: absolute;
    left: 0;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
	width: 800px !important;
	margin: 30px auto !important;
  display:inline-block;
  text-align: left;
  vertical-align: middle;	
}

.modal-body {
  position:relative;
  padding:0px;
}
.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}